<app-vertical-tab-group>
  <app-vertical-tab label="Zack">
    <ng-template verticalTabContent>
      <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/27337006_1741538429231165_8531255902375170763_n.jpg?_nc_cat=106&_nc_oc=AQnMwN5eUEEnSUQG33iOoq7sVWEOkJAHO1NC9R6J_9ZsjMyfPyQDUS9eepAEDNfWOq4&_nc_ht=scontent-ort2-1.xx&oh=e558731e2830cb89275949dc2e0d48c3&oe=5D8AB6FA" height="240" width="240">
    </ng-template>
  </app-vertical-tab>
  <app-vertical-tab label="Tom">
    <ng-template verticalTabContent>
      <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/45250386_10100707408784311_9125799738623393792_n.jpg?_nc_cat=102&_nc_oc=AQl2QWMbJZVMwT0j4xB9nxjo2B5J0cGGY5r7JR3CQylVOIGnmhqTxBwvIV1bIw-ZLqM&_nc_ht=scontent-ort2-1.xx&oh=caa256d707df83b6a9ba94be186847cc&oe=5D92D02F" height="240" width="240">
    </ng-template>
  </app-vertical-tab>
  <app-vertical-tab label="Chaz">
    <ng-template verticalTabContent>
      <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/29790663_10103391106382722_4757845357854663357_n.jpg?_nc_cat=106&_nc_oc=AQlkCWMhuYA64FuUNn1SBGoVf-XL9EtExIEXh47Jt3yuEhA0OK8mJexB2ieI7ys8J9A&_nc_ht=scontent-ort2-1.xx&oh=8db73e764f9b0564d281be35251ffb49&oe=5D78D0A2" height="240" width="240">
    </ng-template>
  </app-vertical-tab>
  <app-vertical-tab label="Luke">
    <ng-template verticalTabContent>
      <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/34067499_1470316159736165_6281219860278018048_n.jpg?_nc_cat=103&_nc_oc=AQk8QYx6vEY6mONAX4yTh2zblZXH_DzTmVsN0vM5m_xOYL_NmFnPCUuNxSeUy-0la-U&_nc_ht=scontent-ort2-1.xx&oh=4977662f0f335c564656508521dd0a05&oe=5D9EC603" height="240" width="240">
    </ng-template>
  </app-vertical-tab>
  <app-vertical-tab label="Jerry">
    <ng-template verticalTabContent>
      <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/969335_652591941434333_248800991_n.jpg?_nc_cat=105&_nc_oc=AQlUFqfbQA-rk1wKqKUQq31r1cl--brubdJitankkSJ5nrS7lTbVKCT9EfEsUakdRno&_nc_ht=scontent-ort2-1.xx&oh=be95f3963d9001d8373069b2c217a730&oe=5D93B652" height="240" width="180">
    </ng-template>
  </app-vertical-tab>
  <app-vertical-tab label="Jason">
    <ng-template verticalTabContent>
      <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/20106318_10214257491779995_1166236692357433066_n.jpg?_nc_cat=106&_nc_oc=AQkBGWBY2zKEeK-qKKmd_Xz-rQcEQYgp-DfvVISMKWeEV9Cpa6U8WsQoNyQLbXiXiks&_nc_ht=scontent-ort2-1.xx&oh=d9950019319c98c455ace54f8c0f148d&oe=5D95FAAF" height="240" width="240">
    </ng-template>
  </app-vertical-tab>
  <app-vertical-tab label="Ben">
    <ng-template verticalTabContent>
      <img src="http://iacdn.onbase.net/headshots/default/small/65da6c8a-a168-4cfd-950f-86ec3b7d0b7d.jpg" height="240" width="240">
    </ng-template>
  </app-vertical-tab>
</app-vertical-tab-group>